$body-color: slateblue;

body {
  color: $body-color;
  font-family: sans-serif;
}

rect {
  stroke: red;
  fill: none;
}

.capture-button {
  top: 0;
  right: 0;
  position: absolute;
  z-index: 999;
}

.overlay {
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 998;
}

#camera-container {
  display: none;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}

#video {
  width: 100%;
  height: 100%;
}
